@using Blazored.SessionStorage
@using NUEVO.NOE.Model.Seguridad
@using MudBlazor
 @page "/Home";
 @inject ISessionStorageService sessionStorage
 @inject NavigationManager navigationManager
 @inject IDialogService dialogService ;

<div class="container justify-content-center px-5 d-flex gap-2 flex-column flex-grow-1">

    <div class="h-50 d-flex gap-2 ">
        <MudPaper Class="w-50" Elevation="0" Style="height:16rem">
            @if (usuarioDTO.Usuario is not null)
            {
                <MudCardContent Class="d-flex align-items-center gap-4">
                    <MudAvatar Style="height:200px; width:200px; font-size:5rem;" Color="Color.Primary">AL</MudAvatar>
                    <div>

                        <MudText>Bienvenido: @usuarioDTO.Usuario.NombreCompleto.ToUpper() - @usuarioDTO.Usuario.NameActiveDirectory.ToUpper()</MudText>
                        <MudText Typo="Typo.body2"> @usuarioDTO.Usuario.Departamento.Descripcion</MudText>

                        @if (usuarioDTO.UsuarioRol is not null)
                        {
                            <MudList T="UsuarioDTO">
                                <MudDivider />
                                @if (usuarioDTO.UsuarioRol is not null)
                                {
                                    @foreach (var rolusuario in usuarioDTO.UsuarioRol)
                                    {
                                        <MudText Class=" fw-bolder " Style="color:#242c4f" Typo="Typo.body1"><MudIcon Icon="@Icons.Material.Filled.Work" Color="Color.Warning" />   @rolusuario.Rol.Descripcion</MudText>

                                    }
                                }

                            </MudList>
                        }
                    </div>
                </MudCardContent>

            }
        </MudPaper>

        <MudPaper Class="w-50" Elevation="0" Style="height:16rem">
            <MudCardContent>
                <MudText Typo="Typo.h4" Class="px-4">Links utiles</MudText>
                <MudDivider Class="my-2" />

                <MudNavLink Icon="@Icons.Material.Filled.TravelExplore" Href="http://intranetigj/" Target="_blank">Intranet</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.TravelExplore" Href="https://www.argentina.gob.ar/justicia/igj" Target="_blank">Inspección General de Justicia</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.TravelExplore" Href="https://www.argentina.gob.ar/justicia" Target="_blank">Ministerio de Justicia</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.TravelExplore" Href="https://borges.jus.gob.ar/" Target="_blank">Borges</MudNavLink>
            </MudCardContent>
        </MudPaper>
    </div>

    <div class="d-flex gap-2 ">
        <MudPaper Class="w-50" Elevation="0" Style="height:16rem">
            <MudCardContent>
                <MudText Typo="Typo.h4" Class="px-4">Herramientas de trabajo</MudText>
                <MudDivider Class="my-2" />
                <MudText Typo="Typo.h4">Sistemas - Testing</MudText>
                <div class="d-flex flex-column gap-2">
                    <MudButton OnClick="RolManagement" Color="Color.Primary" Variant="MudBlazor.Variant.Filled">Administrar Roles</MudButton>
                    <MudButton OnClick="UserManagement" Color="Color.Primary" Variant="MudBlazor.Variant.Filled">Administrar Usuarios</MudButton>
                    <MudButton OnClick="FuncionManagement" Color="Color.Primary" Variant="MudBlazor.Variant.Filled">Administrar Funciones</MudButton>
                </div>
            </MudCardContent>
        </MudPaper>


        <MudPaper Class="w-50 " Elevation="0" Style="height:16rem">
            <MudCardContent>
                <MudText Typo="Typo.h4" Class="px-4">Utilidades</MudText>
                <MudDivider Class="my-2" />

                <MudNavLink Href="/ListTiposSocietarios">Codigos societarios</MudNavLink>
                <MudNavLink Href="/ListTipoTramite">Codigos tramites</MudNavLink>
            </MudCardContent>
        </MudPaper>

    </div>

</div>




@code {

    // EN USUARIO DTO SE ALMANCENA  ADEMAS DE LOS DATOS DEL USUARIO, SUS ROLES Y SUS FUNCIONES
    public UsuarioDTO? usuarioDTO = new();

    protected override async Task OnInitializedAsync()
    {
        var sesion = await sessionStorage.GetItemAsync<UsuarioDTO>("user");

        if (sesion is not null)
        {
            // almaceno el usuario en el objeto user para manejar sus datos en la interfaz
            usuarioDTO = sesion;

        }
        else
        {
            // redirigir en el caso donde no se encuentra el usuario en la sesión
            navigationManager.NavigateTo("/");
        }

    }

    private async Task Logout()
    {
        await sessionStorage.RemoveItemAsync("user");
        navigationManager.NavigateTo("/");
    }

    public async Task RolManagement()
    {
        // var dialog = dialogService.Show<DetailsUsuario>("Agregar Usuario");
        navigationManager.NavigateTo("/AdministradorRoles");
    }

    public async Task UserManagement()
    {
        //var dialog = dialogService.Show<AdministradorUsuarios>("Administracion de Usuarios");
        navigationManager.NavigateTo("/AdministradorUsuarios");
    }

    public async Task FuncionManagement()
    {
        // var dialog = dialogService.Show<DetailsUsuario>("Agregar Usuario");
        navigationManager.NavigateTo("/AdministradorFunciones");
    }
}